doctype html
//if lt IE 7 
  html.ie6  
//if IE 7 
  html.ie7  
//if IE 8 
  html.ie8  
//if IE 9 
  html.ie9  
// [if (gt IE 9)|!(IE)] <!
html
  // <![endif]
  // Mirrored from premiumlayers.net/demo/html/maxihealth/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:11:51 GMT
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Total Cure
    // Standard Favicon
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    // For iPhone 4 Retina display:
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch-icon-114x114-precomposed.png')
    // For iPad:
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch-icon-72x72-precomposed.png')
    // For iPhone:
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon-57x57-precomposed.png')
    // Library - Loader CSS
    link(rel='stylesheet', type='text/css', href='libraries/loader/loaders.min.css')
    // Library - Google Font Familys
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Library - Bootstrap v3.3.5
    link(rel='stylesheet', type='text/css', href='libraries/bootstrap/bootstrap.min.css')
    // Font Icons
    link(rel='stylesheet', type='text/css', href='libraries/fonts/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='libraries/fonts/elegant-icons.css')
    // Library - OWL Carousel V.2.0 beta
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.theme.css')
    // Library - Animate CSS
    link(rel='stylesheet', type='text/css', href='libraries/animate/animate.min.css')
    // Library - Magnific Popup
    link(rel='stylesheet', type='text/css', href='libraries/magnific-popup/magnific-popup.css')
    // Custom - Common CSS
    link(rel='stylesheet', type='text/css', href='css/plugins.css')
    link(rel='stylesheet', type='text/css', href='css/navigation-menu.css')
    //if IE
      link(rel='stylesheet', type='text/css', href='css/all-ie-only.css')
    // Custom - Theme CSS
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='css/shortcodes.css')
    //if lt IE 9
      script(src='js/html5/respond.min.js')
  body(data-offset='200', data-spy='scroll', data-target='.ow-navigation')
    // Loader
    #site-loader.load-complete
      .loader
        .loader-inner.ball-clip-rotate
          div
    // Loader /-
    a#top
    // Main Container
    .main-container
      // Header
      header.header-main
        // Top Header
        .top-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-6
                p We believe every interaction with our patients is an opportunity!
              .col-md-6.text-right
                ul
                  li
                    a(href='#', title='Facebook')
                      i.fa.fa-facebook
                  li
                    a(href='#', title='Twitter')
                      i.fa.fa-twitter
                a(href='#', title='Book Appointment')
                  span +
                  | Order Now!
          // container /-
        // Top Header /-
        // Logo Block
        .middle-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-3.logo-block.pull-left
                // <a href="#" title="Logo"><img src="images/logo.png" alt="Logo" /></a>
                a(href='#', title='Logo')
                  h1.gastro
                    span
                      strong Total
                    | Cure
              .col-md-9.text-right.pull-right
                .phone
                  h3
                    img(src='images/phone-ic.png', alt='phone')
                    |  (+234) 8143061791
                  p Call Us Now- 24/7 Customer Support
          // Container
        // Logo Block /-
        // Navigation
        nav.navbar.ow-navigation
          .container
            .row
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav(align='center', style='float:center;')
                  li.active
                    a(href='index.html') Home
                  li
                    a(href='about.html') About Us
                  li
                    a(href='services.html') Services
                  li
                    a(href='contact-us.html') Contact
      // Page Banner
      .page-banner.about-banner.container-fluid.no-padding
        // Container
        .container
          h3 About Us
          p Quality products and Services We Offer for more Resonable
          p cost with love, Just explore about More!
          ol.breadcrumb
            li
              a(href='#') Home
            li.active About Us
        // Container /-
        // Shape
        .banner-shape.container-fluid.no-padding
          .col-md-6.col-sm-6.col-xs-6.shape-left.no-padding
            .left-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon2(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 120 100, 0 0')
            .left-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon1(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 100 100, 0 0')
          .col-md-6.col-sm-6.col-xs-6.shape-right.no-padding
            .right-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon3(clippathunits='objectBoundingBox')
                  polygon(points='1 0.2, 0 1, 0 0.835, 1 0')
            .right-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon4(clippathunits='objectBoundingBox')
                  polygon(points='1 0, 0 1, 100 100, 100 0')
        // Shape
      // Page Banner /-
      // Who We Are
      .container-fluid.no-paddding.who-we-are
        // Container
        .container
          .who-we-are-block
            // Section Header
            .section-header
              h3 About Total Cure
              p Total Cure provides the best and final solutions to your ulcer and eye problems
              p If you've found us, you've found the cure right now.
            // Section Header /-
            img(src='images/drug.jpg', alt='who-we-are')
            img(src='images/eye.jpg', width='300', alt='who-we-are')
        // Container /-
      // Who We Are /-
      // Service Section
      #service-section.container-fluid.no-padding.service-section.service-section2
        // Container
        .container
          // Row
          .row
            // Service
            .col-md-8.col-sm-12.col-xs-12.service
              .section-header
                h3 Why Total Cure?
                img(src='images/man1.jpg', width='250', alt='why-gastro')
                img(src='images/cataract.jfif', width='250', alt='why-gastro')
                p
                  | So many men and women have given up upon their ulcer problems and believe it’s hopeless if you are among those people I bring you hope today!
                  | Believe me because I’ve been there. Some time, I wonder if anybody alive has had it bad as I did.
                  | I’ve had it rough, and think I stand a better chance to advise anyone currently having the issue on how to go about it and avoid wasting your money.
                  | Since I was very young, I’ve always been treating ulcer. When I got to 35yrs old, I almost died. But then, I found a permanent solution to my problem
                  | and I want to help others with the same issue
                p
                  | In like manner, many people are suffering from severe eye problems and they have been made to believe that
                  | there is no cure. But at Total Cure, the vision is to provide better medication for eye conditions.
            // Service /-
            .col-md-4.col-sm-12.col-xs-12
              // Appointment Form
              form.appoinment-form(method='post', action='send', role='form')
                h3
                  img(src='images/appoinment.png', alt='order')
                  | ORDER NOW
                .form-group.col-md-12.no-padding
                  input#your-name.form-control(type='text', placeholder='Your Name', required='')
                .form-group.col-md-12.no-padding
                  input#email.form-control(type='email', placeholder='Email Address', required='')
                .form-group.col-md-12.no-padding
                  input#address.form-control(type='text', placeholder='Address', required='')
                .form-group.col-md-12.no-padding
                  input#state.form-control(type='text', placeholder='LGA/State', required='')
                .form-group.input-group.col-md-12.no-padding
                  select.form-control(required='')
                    option Choose product
                    option Ulcer Solution
                    option Eye Solution
                .form-group.input-group.col-md-12.no-padding
                  select.form-control(required='')
                    option Select Quantity
                    option 1 Bottle of Mebo GI Capsule (40 Capsules) = N25,000 
                    option 2 Bottles of Mebo GI Capsule (80 Capsules) = N45,000
                    option 3 Bottles of Mebo GI Capsule (120 Capsules) = N65,000
                .form-group.input-group.col-md-12.no-padding
                  select.form-control(required='')
                    option For eye
                    option 1 Bottle of Vision Vitale Capsule for 1 month = N25,000 
                    option 2 Bottles of Vision Vitale Capsule for 2 month = N45,000 
                .form-group.col-md-12.col-sm-12.col-xs-12.no-padding
                  button#btn_submit.btn-submit.pull-right(type='submit')
                    img(src='images/heart-sm.png', alt='heart-sm')
                    | Submit
                .form-group.col-md-12.col-sm-12.col-xs-12.no-padding
                  p
                    | For orders in Lagos, expect your item to get to you within the same day or next day if you wish,
                    | while for orders outside Lagos, depending on the state/city,
                    | you will receive your items within 2 – 4 days.
              // Appointment Form /-
        // Container /-
      // Service Section /-
      // Call Out
      #call-out.container-fluid.no-padding.call-out
        // Container
        .container
          .call-out-content.row
            .col-md-10.col-sm-9.col-xs-12
              h3
                | Are You Ready to 
                span Buy this product!
            .col-md-2.col-sm-3.col-xs-12
              a(href='#modal-close-default', action='send', method='get', uk-toggle='') Order Now
        // Container /-
      // Call Out /-
      // Testimonial Section
      #testimonial-section.container-fluid.no-padding.testimonial-section
        .container
          .section-header
            h3 What Our Patients Are Saying
          // Testimonial Carousel
          #testimonial-carousel.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
              .item.active
                p
                  | I went for an endoscopy on 20th of Dec 2017, and was told that everything was ok and that there was no sign of the ulcer. I was very pleased with the good news so I would like to say a very big thank you to you and your  discovery MEBO GI capsules”, it’s a” Miracle capsule”. and would highly recommend it. Yours Gratefully And once again a big THANK YOU,
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4 Olasupo 
                  p Oyo state, Nigeria
              .item
                p
                  | I have been suffering from ulcer since I was a 4yrs old. After hearing about your product from my colleagues, I was a bit skeptical, but eager to try it at the same time. 4 weeks using the package as you recommended, my ulcer vanished. Thanks a lot. You saved a life!
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4 Engr. Dozie
                  p  Warri Delta State
              .item
                p
                  | I wish I can express my heart, Just a whole lot of thanks for introducing me to this Miracle Capsule. It worked magic for my husband who suffers for diabetes for years, and all I can say is that I am now a total believer in anything natural. God bless!
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4  Mrs. Aniekebo
                  p  Port Harcourt
              .item
                p
                  | I want to recommend this GI capsule for anyone that wants to free themselves from Ulcer, diabetes and Toothache.
                  | I tried just about every treatment out there, but it only got more expensive and potentially dangerous on the long run.
                  | Fortunately, after giving a try to this modest product, my ulcer symptoms vanished, and it’s been over 5 months that it has not returned” I bought for my mum I hope to hear good news soon.
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4  Mallam Isa Nuhu
                  p Niger state
              .item
                p
                  | This was my first time purchasing from a total stranger since I came to Nigeria as a contractor, I tried different remedies to cure my ulcer in my country but there all failed me. GI Capsule cured me with no scars. Thank you for recommending.
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4  Alexander scof
                  p   Germany
              .item
                p
                  | I thought my Doctor was helping before I found GI capsules, My Dr told me that my ulcer is beyoung drugs except I go for surgery but thank God I gave GI capsules a try,
                  | My Ulcer just confirmed totally healed.
                  | I can’t thank you enough for this great discovery.
                .testimonial-quote
                  i
                    img(src='images/quote.png', alt='quote')
                  h4  Mrs. Aniekebo
                  p  Port Harcourt
            ol.carousel-indicators
              li.active(data-target='#testimonial-carousel', data-slide-to='0')
              li(data-target='#testimonial-carousel', data-slide-to='1')
              li(data-target='#testimonial-carousel', data-slide-to='2')
          // Testimonial Carousel /-
      // Testimonial Section /-
      // Footer
      footer.footer-main.container-fluid.no-padding
        // Container
        .container
          // Contact Detail
          .contact-details
            .col-md-6.col-sm-4.phone-box.detail-box
              i
                img(src='images/ftr-phone.png', alt='Phone')
              h4 EMERGENCY ( 24X7 )
              p Mobile: (+234) 8143061791
              // <p>Toll Free : 0816475744.</p>
            .col-md-6.col-sm-4.mail-box.detail-box
              i
                img(src='images/ftr-email.png', alt='Email')
              h4 contact support
              p
                a(href='mailto:norlandbizz@gmail.com') norlandbizz@gmail.com
              // <p><a href="mailto:support@maxihealth.com">support@maxihealth.com</a></p>
          // Contact Detail /-
          .row
            .col-md-6.col-sm-6.col-xs-12
              aside.widget.widget-about
                // <h3><img src="images/logo-ftr.png" alt="Logo" /></h3>
                a(href='#', title='Logo')
                  h1.health
                    span
                      strong Total
                    | Cure
                p We are open for enquiries and order request
                .time-schedule
                  p
                    | Monday - Friday 
                    span 8.00 - 18.00
                  p
                    | Saturday 
                    span 8.00 - 18.00
                  p
                    | Sunday 
                    span 8.00 - 13.00
            .col-md-6.col-sm-6.col-xs-12
              aside.widget.widget-newsletter
                h3.widget-title Newsletter
                p To get more news about Total Cure
                .input-group
                  input.form-control(type='text', placeholder='Email Address')
                  span.input-group-btn
                    button.btn.btn-default(type='button', action='post')
                      i.fa.fa-send-o
                // /input-group
                .social
                  h6 Stay Connected
                  ul
                    li
                      a(href='#', title='Facebook')
                        i.fa.fa-facebook
                    li
                      a(href='#', title='Twitter')
                        i.fa.fa-twitter
        // Container /-
        // Bottom Footer
        .container-fluid.no-padding.bottom-footer
          p
            | © 2018 
            a(href='sumptious.herokuapp.com') Encoded
            |  . All Rights Reserved.
        // Bottom Footer /-
    // Main Container
    // JQuery v1.11.3
    script(src='js/jquery.min.js')
    // Library - Modernizer
    script(src='libraries/modernizr/modernizr.js')
    // Library - Bootstrap v3.3.5
    script(src='libraries/bootstrap/bootstrap.min.js')
    // Bootstrap JS File v3.3.5
    // jQuery Easing v1.3
    script(src='js/jquery.easing.min.js')
    // Library - jQuery.appear
    script(src='libraries/appear/jquery.appear.js')
    // Library - OWL Carousel V.2.0 beta
    script(src='libraries/owl-carousel/owl.carousel.min.js')
    // jQuery For Number Counter
    script(src='libraries/number/jquery.animateNumber.min.js')
    // Library - Isotope Portfolio Filter
    script(src='libraries/isotope/isotope.pkgd.min.js')
    // Library - Magnific Popup - v1.0.0
    script(src='libraries/magnific-popup/jquery.magnific-popup.min.js')
    // Library - Google Map API
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    // Library - Theme JS
    script(src='js/functions.js')
  // Mirrored from premiumlayers.net/demo/html/maxihealth/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:10:11 GMT
