doctype html
//if lt IE 7 
  html.ie6  
//if IE 7 
  html.ie7  
//if IE 8 
  html.ie8  
//if IE 9 
  html.ie9  
// [if (gt IE 9)|!(IE)] <!
html
  // <![endif]
  // Mirrored from premiumlayers.net/demo/html/maxihealth/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:12:25 GMT
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Total Cure
    // Standard Favicon
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    // For iPhone 4 Retina display:
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch-icon-114x114-precomposed.png')
    // For iPad:
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch-icon-72x72-precomposed.png')
    // For iPhone:
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon-57x57-precomposed.png')
    // Library - Loader CSS
    link(rel='stylesheet', type='text/css', href='libraries/loader/loaders.min.css')
    // Library - Google Font Familys
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Library - Bootstrap v3.3.5
    link(rel='stylesheet', type='text/css', href='libraries/bootstrap/bootstrap.min.css')
    // Font Icons
    link(rel='stylesheet', type='text/css', href='libraries/fonts/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='libraries/fonts/elegant-icons.css')
    // Library - OWL Carousel V.2.0 beta
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.theme.css')
    // Library - Animate CSS
    link(rel='stylesheet', type='text/css', href='libraries/animate/animate.min.css')
    // Library - Magnific Popup
    link(rel='stylesheet', type='text/css', href='libraries/magnific-popup/magnific-popup.css')
    // Custom - Common CSS
    link(rel='stylesheet', type='text/css', href='css/plugins.css')
    link(rel='stylesheet', type='text/css', href='css/navigation-menu.css')
    //if IE
      link(rel='stylesheet', type='text/css', href='css/all-ie-only.css')
    // Custom - Theme CSS
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='css/shortcodes.css')
    //if lt IE 9
      script(src='js/html5/respond.min.js')
  body(data-offset='200', data-spy='scroll', data-target='.ow-navigation')
    // Loader
    #site-loader.load-complete
      .loader
        .loader-inner.ball-clip-rotate
          div
    // Loader /-
    a#top
    // Main Container
    .main-container
      // Header
      header.header-main
        // Top Header
        .top-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-6
                p We believe every interaction with our patients is an opportunity!
              .col-md-6.text-right
                ul
                  li
                    a(href='#', title='Facebook')
                      i.fa.fa-facebook
                  li
                    a(href='#', title='Twitter')
                      i.fa.fa-twitter
                a(href='form.html', title='Book Appointment')
                  span +
                  | Order Now!
          // container /-
        // Top Header /-
        // Logo Block
        .middle-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-3.logo-block.pull-left
                // <a href="#" title="Logo"><img src="images/logo.png" alt="Logo" /></a>
                a(href='#', title='Logo')
                  h1.gastro
                    span
                      strong Total
                    | Cure
              .col-md-9.text-right.pull-right
                .phone
                  h3
                    img(src='images/phone-ic.png', alt='phone')
                    |  (+234) 8143061791
                  p Call Us Now- 24/7 Customer Support
          // Container
        // Logo Block /-
        // Navigation
        nav.navbar.ow-navigation
          .container
            .row
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav(align='center', style='float:center;')
                  li.active
                    a(href='index.html') Home
                  li
                    a(href='about.html') About Us
                  li
                    a(href='services.html') Services
                  li
                    a(href='contact-us.html') Contact
      // Page Banner
      .page-banner.contact-banner.container-fluid.no-padding
        // Container
        .container
          h3 Contact
          p We are open 24/7 for enquiries and order. Contact us now!
          // <p>the professor and Mary Ann here on Gilligans Isle. </p>
          ol.breadcrumb
            li
              a(href='#') Home
            li.active Contact
        // Container /-
        // Shape
        .banner-shape.container-fluid.no-padding
          .col-md-6.col-sm-6.col-xs-6.shape-left.no-padding
            .left-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon2(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 120 100, 0 0')
            .left-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon1(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 100 100, 0 0')
          .col-md-6.col-sm-6.col-xs-6.shape-right.no-padding
            .right-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon3(clippathunits='objectBoundingBox')
                  polygon(points='1 0.2, 0 1, 0 0.835, 1 0')
            .right-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon4(clippathunits='objectBoundingBox')
                  polygon(points='1 0, 0 1, 100 100, 100 0')
        // Shape
      // Page Banner /-
      // Container
      .container
        // Contact Us
        .contact-us
          .col-md-6.col-sm-4
            .contact-block
              i.fa.fa-mobile.fa-3x
              span Phone
              p (+234) 8143061791
          .col-md-6.col-sm-4
            .contact-block
              i.fa.fa-envelope.fa-3x
              span Email
              p
                a(href='mailto:norlandbizz@gmail.com') norlandbizz@gmail.com
        // Contact Us /-
      // Container /-
      // Call Out
      #call-out.container-fluid.no-padding.call-out
        // Container
        .container
          .call-out-content.row
            .col-md-10.col-sm-9.col-xs-12
              h3
                | Are You Ready to 
                span Buy this product!
              // <p>Blanditiis praesentium voluptatum deleniti atque  soluta nobis est eligendi optio cumque nihil.</p>
            .col-md-2.col-sm-3.col-xs-12
              a(href='#modal-close-default', action='send', method='get', uk-toggle='') Order Now
        // Container /-
      br
      br
      // Call Out /-
      // Container
      .container
        // Enquiry Us
        .leave-comment.enquiry-us
          h3.section-heading Enquiry Us
          form#contact-form.comment-form.enquiry-form(method='post')
            .row
              .col-md-6.col-sm-6
                .form-group
                  label Name*
                  input#input_name.form-control(type='text', name='contact-name', required='')
                .form-group
                  label E-Mail*
                  input#input_email.form-control(type='email', name='contact-email', required='')
                .form-group
                  label Phone Number*
                  input#input_phone.form-control(type='text', name='contact-phone', required='')
              .col-md-6.col-sm-6
                .form-group
                  label Details
                  textarea#textarea_message.form-control(name='contact-message')
                .form-group
                  input#btn_submit(type='submit', value='Contact Now', name='post')
                #alert-msg.alert-msg
        // Enquiry Us /-
      // Container /-
      // Footer
      footer.footer-main.container-fluid.no-padding
        // Container
        .container
          // Contact Detail
          .contact-details
            .col-md-6.col-sm-4.phone-box.detail-box
              i
                img(src='images/ftr-phone.png', alt='Phone')
              h4 EMERGENCY ( 24X7 )
              p Mobile: (+234) 8143061791
              // <p>Toll Free : 0816475744.</p>
            .col-md-6.col-sm-4.mail-box.detail-box
              i
                img(src='images/ftr-email.png', alt='Email')
              h4 contact support
              // <p><a href="mailto:info@maxihealth.com">info@maxihealth.com</a></p>
              p
                a(href='mailto:norlandbizz@gmail.com') norlandbizz@gmail.com
          // Contact Detail /-
          .row
            .col-md-6.col-sm-6.col-xs-12
              aside.widget.widget-about
                a(href='#', title='Logo')
                  h1.health
                    span
                      strong Total
                    | Cure
                p We are open for enquiries and order request
                .time-schedule
                  p
                    | Monday - Friday 
                    span 8.00 - 18.00
                  p
                    | Saturday 
                    span 8.00 - 18.00
                  p
                    | Sunday 
                    span 8.00 - 13.00
            .col-md-6.col-sm-6.col-xs-12
              aside.widget.widget-newsletter
                h3.widget-title Newsletter
                p To get more news about Total Cure
                .input-group
                  input.form-control(type='text', placeholder='Email Address')
                  span.input-group-btn
                    button.btn.btn-default(type='button', action='post')
                      i.fa.fa-send-o
                // /input-group
                .social
                  h6 Stay Connected
                  ul
                    li
                      a(href='#', title='Facebook')
                        i.fa.fa-facebook
                    li
                      a(href='#', title='Twitter')
                        i.fa.fa-twitter
        // Container /-
        // Bottom Footer
        .container-fluid.no-padding.bottom-footer
          p
            | © 2018 
            a(href='sumptious.herokuapp.com') Encoded
            |  . All Rights Reserved.
        // Bottom Footer /-
    // Main Container
    // JQuery v1.11.3
    script(src='js/jquery.min.js')
    // Library - Modernizer
    script(src='libraries/modernizr/modernizr.js')
    // Library - Bootstrap v3.3.5
    script(src='libraries/bootstrap/bootstrap.min.js')
    // Bootstrap JS File v3.3.5
    // jQuery Easing v1.3
    script(src='js/jquery.easing.min.js')
    // Library - jQuery.appear
    script(src='libraries/appear/jquery.appear.js')
    // Library - OWL Carousel V.2.0 beta
    script(src='libraries/owl-carousel/owl.carousel.min.js')
    // jQuery For Number Counter
    script(src='libraries/number/jquery.animateNumber.min.js')
    // Library - Isotope Portfolio Filter
    script(src='libraries/isotope/isotope.pkgd.min.js')
    // Library - Magnific Popup - v1.0.0
    script(src='libraries/magnific-popup/jquery.magnific-popup.min.js')
    // Library - Google Map API
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    // Library - Theme JS
    script(src='js/functions.js')
  // Mirrored from premiumlayers.net/demo/html/maxihealth/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:10:11 GMT
