doctype html
//if lt IE 7 
  html.ie6  
//if IE 7 
  html.ie7  
//if IE 8 
  html.ie8  
//if IE 9 
  html.ie9  
// [if (gt IE 9)|!(IE)] <!
html
  // <![endif]
  // Mirrored from premiumlayers.net/demo/html/maxihealth/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:08:44 GMT
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Total Cure
    // Standard Favicon
    link(rel='icon', type='image/x-icon', href='images/favicon.ico')
    // For iPhone 4 Retina display:
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/apple-touch-icon-114x114-precomposed.png')
    // For iPad:
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/apple-touch-icon-72x72-precomposed.png')
    // For iPhone:
    link(rel='apple-touch-icon-precomposed', href='images/apple-touch-icon-57x57-precomposed.png')
    // Library - Loader CSS
    link(rel='stylesheet', type='text/css', href='libraries/loader/loaders.min.css')
    // Library - Google Font Familys
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Library - Bootstrap v3.3.5
    link(rel='stylesheet', type='text/css', href='libraries/bootstrap/bootstrap.min.css')
    // Font Icons
    link(rel='stylesheet', type='text/css', href='libraries/fonts/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='libraries/fonts/elegant-icons.css')
    // Library - OWL Carousel V.2.0 beta
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='libraries/owl-carousel/owl.theme.css')
    // Library - Animate CSS
    link(rel='stylesheet', type='text/css', href='libraries/animate/animate.min.css')
    // Library - Magnific Popup
    link(rel='stylesheet', type='text/css', href='libraries/magnific-popup/magnific-popup.css')
    // Custom - Common CSS
    link(rel='stylesheet', type='text/css', href='css/plugins.css')
    link(rel='stylesheet', type='text/css', href='css/navigation-menu.css')
    //if IE
      link(rel='stylesheet', type='text/css', href='css/all-ie-only.css')
    // Custom - Theme CSS
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='css/shortcodes.css')
    link(rel='stylesheet', type='text/css', href='css/uikit.min.css')
    link(rel='stylesheet', type='text/css', href='css/uikit-rtl.min.css')
    //if lt IE 9
      script(src='js/html5/respond.min.js')
  body(data-offset='200', data-spy='scroll', data-target='.ow-navigation')
    // Loader
    #site-loader.load-complete
      .loader
        .loader-inner.ball-clip-rotate
          div
    // Loader /-
    a#top
    // Main Container
    .main-container
      // Header
      header.header-main
        // Top Header
        .top-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-6
                p We believe every interaction with our patients is an opportunity!
              .col-md-6.text-right
                ul
                  li
                    a(href='#', title='Facebook')
                      i.fa.fa-facebook
                  li
                    a(href='#', title='Twitter')
                      i.fa.fa-twitter
                a(href='form.html', title='Book Appointment')
                  span +
                  | Order Now!
          // container /-
        // Top Header /-
        // Logo Block
        .middle-header.container-fluid.no-padding
          // Container
          .container
            .row
              .col-md-3.logo-block.pull-left
                // <a href="#" title="Logo"><img src="images/logo.png" alt="Logo" /></a>
                a(href='#', title='Logo')
                  h1.gastro
                    span
                      strong Total
                    | Cure
              .col-md-9.text-right.pull-right
                .phone
                  h3
                    img(src='images/phone-ic.png', alt='phone')
                    |  (+234) 8143061791
                  p Call Us Now- 24/7 Customer Support
          // Container
        // Logo Block /-
        // Navigation
        nav.navbar.ow-navigation
          .container
            .row
              .col-md-12
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #navbar.navbar-collapse.collapse
                  ul.nav.navbar-nav(align='center')
                    li.active
                      a(href='/views/index') Home
                    li
                      a(href='/views/about.jade') About Us
                    li
                      a(href='services.html') Services
                    li
                      a(href='/views/contact-us') Contact
      // Banner Section
      #home-banner.container-fluid.no-padding.banner-section.home-banner
        // Container
        .container
          #main-carousel.carousel.slide(data-ride='carousel')
            .carousel-inner(role='listbox')
              .item.active
                .col-md-6.col-sm-6.no-padding
                  .banner-left
                    // <span>The Best Hospitality WP Theme Forever!</span>
                    h3 we care for your health
                    p
                      | We Offer our services for more reasonable cost with love for your eyes and ulcer problems, Just explore about More!
                    a(href='about.html')
                      | View Our Services
                      i.fa.fa-plus
                .col-md-6.col-sm-6.no-padding
                  .banner-right
                    // <img src="images/banner-main.png" alt="banner-main"/>
                    img(src='images/drug.jpg', alt='banner-main')
              .item
                .col-md-6.col-sm-6.no-padding
                  .banner-left
                    // <span>The Best Hospitality WP Theme Forever!</span>
                    h3 Your health is our priority
                    p
                      | We are here to give you final solutions for your gastro-intestinal and eye problems.
                    a(href='about.html')
                      | View Our Services
                      i.fa.fa-plus
                .col-md-6.col-sm-6.no-padding
                  .banner-right
                    img(src='images/drug.jpg', alt='banner-main')
              .item
                .col-md-6.col-sm-6.no-padding
                  .banner-left
                    // <span>The Best Hospitality WP Theme Forever!</span>
                    h3 Better Eye health for better vision
                    p We offer total cure for your glaucoma, cataract and all other eye problems.
                    a(href='about.html')
                      | View Our Services
                      i.fa.fa-plus
                .col-md-6.col-sm-6.no-padding
                  .banner-right
                    img(src='images/eye.jpg', width='500', alt='banner-main')
        // Container /-
        // Shape
        .banner-shape.container-fluid.no-padding
          .col-md-6.col-sm-6.col-xs-6.shape-left.no-padding
            .left-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon2(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 120 100, 0 0')
            .left-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon1(clippathunits='objectBoundingBox')
                  polygon(points='0 0, 0 100, 100 100, 0 0')
          .col-md-6.col-sm-6.col-xs-6.shape-right.no-padding
            .right-shape-blue
              svg(width='100%', height='100%')
                clippath#clipPolygon3(clippathunits='objectBoundingBox')
                  polygon(points='1 0.2, 0 1, 0 0.835, 1 0')
            .right-shape
              svg(width='100%', height='100%')
                clippath#clipPolygon4(clippathunits='objectBoundingBox')
                  polygon(points='1 0, 0 1, 100 100, 100 0')
        // Shape /-
      // Banner Section /-
      // Message Borad
      #message-borad.container-fluid.no-padding.message-borad
        // Container
        .container
          .row
            // Emargency Case
            .col-md-6.col-sm-6.emargency-case
              .col-md-6.message-block.no-left-padding
                h3 Ulcer
                p
                  | Only those suffering ulcer will understand the pains, sleepless nights, gnawing or burning 
                  | pain in the abdomen, loss of appetite, nausea, vomiting, bloating etc.
                  br
                  | 							At Total cure, your problems are over.
                // <a href="#">More Details<i class="fa fa-caret-right"></i></a>
              .col-md-6.message-block.no-right-padding
                h3 Eye problems
                p
                  | Heal your eyes from glaucoma, cataract, night blindness etc, naturally permanently with best treatment from Total cure.
                // <a href="#">More Details<i class="fa fa-caret-right"></i></a>
            // Emargency Case /-
            // Opening Hours
            .col-md-6.col-sm-6.opening-hours
              .col-md-6.message-block.no-padding
                h3 opening hours
                ul
                  li
                    | Monday - Friday
                    span.pull-right 8.00 – 18.00
                  li
                    | Saturday
                    span.pull-right 8.00 – 16.00
                  li
                    | Sunday
                    span.pull-right 8.00 – 13.00
              .col-md-6.message-block
                h3 Health is Wealth
                p
                  | Total Cure solutions are best for your ulcer and eye problems. We provide the best medication that serves your purpose
                  | with cost effective prices
                p
                p
                // <a href="#">More Details<i class="fa fa-caret-right"></i></a>
            // Opening Hours /-
        // Container /-
      // Message Borad /-
      // Service Section
      #service-section.container-fluid.no-padding.service-section
        // Container
        .container
          // Row
          .row
            .col-md-2
            // Service
            .col-md-8.col-sm-12.col-xs-12.service
              .section-header
                h3 Welcome to Total Cure
                span
                  i.fa.fa-plus
                span
                  i.fa.fa-plus
                span
                  i.fa.fa-plus
                p
                  | We have the best and final solution to all your ulcer and eye problems. If you are suffering from, or just think you may have, stomach ulcer then you should get to know all the facts about stomach ulcers. 
                  | This important information could save you from months of unnecessary stress and suffering, by putting you on the right track – right now!
                  br
                  | 							Your eye problems have a solution and we provide the best services for your eye health.
            .col-md-2
    // Call Out
    #call-out.container-fluid.no-padding.call-out
      // Container
      .container
        .call-out-content.row
          .col-md-10.col-sm-9.col-xs-12
            h3
              | Are You Ready to 
              span Buy this product!
            // <p>Blanditiis praesentium voluptatum deleniti atque  soluta nobis est eligendi optio cumque nihil.</p>
          .col-md-2.col-sm-3.col-xs-12
            a(href='#modal-close-default', action='send', method='get', uk-toggle='') Order Now
      // Container /-
    // Call Out /-
    #modal-close-default(uk-modal='')
      .uk-modal-dialog.uk-modal-body
        button.uk-modal-close-default(type='button', uk-close='')
        form.appoinment-form(method='post', action='send', role='form')
          h3
            img(src='images/appoinment.png', alt='order')
            | ORDER NOW
          .form-group.col-md-12.no-padding
            input#your-name.form-control(type='text', placeholder='Your Name', required='required')
          .form-group.col-md-12.no-padding
            input#email.form-control(type='email', placeholder='Email Address', required='')
          .form-group.col-md-12.no-padding
            input#address.form-control(type='text', placeholder='Address', required='')
          .form-group.col-md-12.no-padding
            input#state.form-control(type='text', placeholder='LGA/State', required='')
          .form-group.input-group.col-md-12.no-padding
            select.form-control(required='')
              option Choose product type
              option Ulcer solution
              option Eye solution
          .form-group.input-group.col-md-12.no-padding
            select.form-control(required='')
              option Select Quantity
              option 1 Bottle of Mebo GI Capsule (40 Capsules) = N25,000 
              option 2 Bottles of Mebo GI Capsule (80 Capsules) = N45,000
              option 3 Bottles of Mebo GI Capsule (120 Capsules) = N65,000
          .form-group.input-group.col-md-12.no-padding
            select.form-control(required='')
              option For eye
              option 1 Bottle of Vision Vitale Capsule for 1 month = N25,000 
              option 2 Bottles of Vision Vitale Capsule for 2 month = N45,000 
          .form-group.col-md-12.col-sm-12.col-xs-12.no-padding
            button#btn_submit.btn-submit.pull-right(type='submit')
              img(src='images/heart-sm.png', alt='heart-sm')
              | Submit
          .form-group.col-md-12.col-sm-12.col-xs-12.no-padding
            p
              | For orders in Lagos, expect your item to get to you within the same day or next day if you wish,
              | while for orders outside Lagos, depending on the state/city,
              | you will receive your items within 2 – 4 days.
        // Appointment Form /-
    // Departments Section
    .container-fluid.no-padding.department-section
      .we-are-best.col-md-6.col-sm-12.no-padding
        .section-header
          h3 Why our ulcer solution should be your preferred drugs
          p
            span(style='color:rgb(209, 13, 49);') This Product is approved by NAFDAC!
            br
            | This is the only product with 43 patent technologies in the world 
            br
            | 						This capsule does not only cure ulcer but also solve below issues;
        br
        div
          ol
            li For clearer pupils or adjustment of eye-sight
            br
            li For nasal defects or mouth ulcers and defeat, bad teeth
            br
            li For broken bones, severed fingers, skin ulcers and cancers
            br
            li For protection or repair of lungs or treatment of lung cancers
            br
            li For anti-aging, scars, wrinkles, skin lift e.t.c
            br
            li
              | For Diabetes, fibroid, cysts, hypertension, Stomach ulcers, high blood pressure and other metabolic disorders
            br
            li
              | For gastric cancers, prostate cancers, pancreatic cancers, liver cirrhosis, and almost every other kind of cancers and intractable disease
            br
      .col-md-6.col-sm-12.departments.no-padding
        .departments-bg
          img(src='images/departments-bg.jpg', alt='departments-bg')
        .section-header
          h3 Case study
        #accordion.panel-group(role='tablist', aria-multiselectable='true')
          .panel.panel-default
            #dept-heading1.panel-heading(role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#dept-type-1', aria-expanded='true')
                  | Duodenal Ulcer
                  i.fa.fa-plus.pull-right
            #dept-type-1.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='dept-heading1')
              .panel-img
                img(src='images/ulcer-9.png', width='150', alt='panel-img')
              .panel-body
                p This ulcer occurred on the atrum of the stomach in a 50year female patient.
          .panel.panel-default
            #dept-heading2.panel-heading(role='tab')
              h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#dept-type-2', aria-expanded='false')
                  | Peptic Ulcer
                  i.fa.fa-plus.pull-right
            #dept-type-2.panel-collapse.collapse(role='tabpanel', aria-labelledby='dept-heading2')
              .panel-img
                img(src='images/ulcer-8.png',  width='150', alt='panel-img')
              .panel-body
                p This ulcer occurred on the atrum of the stomach in a 41years male patient.
          .panel.panel-default
            #dept-heading3.panel-heading(role='tab')
              h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#dept-type-3', aria-expanded='false')
                  | Peptic Ulcer and Erosive Gastritis
                  i.fa.fa-plus.pull-right
            #dept-type-3.panel-collapse.collapse(role='tabpanel', aria-labelledby='dept-heading3')
              .panel-img
                img(src='images/ulcer-7.png',  width='150', alt='panel-img')
              .panel-body
                p This ulcer occurs due to pancreatic cancer chemotherapy and radiation therapy.
                | 							 
    // Departments Section /-
    // Counter Section
    #counter-section.container-fluid.no-padding.counter-section
      // Container
      .container
        .col-md-12.col-sm-6.no-padding
          // Happy Customer
          .happy-customer
            h3.block-title Happy Customers
            p
              | Over 
              span#statistics_count-1(data-statistics_percent='1000') 1,000
              |  Patients trust the solution of our product.
            a(href='#')
              i.fa.fa-thumbs-o-up
              | Join Us now
          // Happy Customer /-
    // Departments Section
    .container-fluid.no-padding.department-section
      .col-md-6.col-sm-12.departments.no-padding
        .departments-bg
          img(src='images/departments-bg.jpg', alt='departments-bg')
        .section-header
          h3 Case study
        #accordion.panel-group(role='tablist', aria-multiselectable='true')
          .panel.panel-default
            #dept-heading1.panel-heading(role='tab')
              h4.panel-title
                a(role='button', data-toggle='collapse', data-parent='#accordion', href='#dept-type-4', aria-expanded='true')
                  | Glaucoma
                  i.fa.fa-plus.pull-right
            #dept-type-4.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='dept-heading1')
              .panel-img
                img(src='images/glaucoma.jfif', width='150', alt='panel-img')
              .panel-body
                p
                  | Glaucoma is an eye disease that is often associated with elevated intraocular pressure,
                  | in which damage to the eye (optic) nerve can lead to loss of vision and even blindness.
                // <a href="#">More Details<i class="fa fa-plus"></i></a>
          .panel.panel-default
            #dept-heading2.panel-heading(role='tab')
              h4.panel-title
                a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#dept-type-5', aria-expanded='false')
                  | Cataract
                  i.fa.fa-plus.pull-right
            #dept-type-5.panel-collapse.collapse(role='tabpanel', aria-labelledby='dept-heading2')
              .panel-img
                img(src='images/cataract.jfif', width='150', alt='panel-img')
              .panel-body
                p
                  | cataract is a clouding of the eye's natural lens, which lies behind the iris and the pupil
                  | which leads to a decrease in vision.
                // <a href="#">More Details<i class="fa fa-plus"></i></a>
      .we-are-best.col-md-6.col-sm-12.no-padding
        .section-header
          h3 Why our Eye solution is the best for you
          p This vision capsule helps the eye and also solve related issues;
        br
        div
          ol
            li Improve and perfect your eyesight
            br
            li
              | Strengthen your eyes and focal muscles, eliminating the painful burning sensation in your eyes
            br
            li
              | Improve all aspects of your vision, where long-sighted or short-sighted, the condition can be cured
            br
            li Maintain optical clarity
            br
            li Improves blurred vision, cure glaucoma, cataract and night blindness etc
            br
    // Departments Section /-
    footer.footer-main.container-fluid.no-padding
      // Container
      .container
        // Contact Detail
        .contact-details
          .col-md-6.col-sm-4.phone-box.detail-box
            i
              img(src='images/ftr-phone.png', alt='Phone')
            h4 EMERGENCY ( 24X7 )
            p Mobile:(+234) 8143061791
            // <p>Toll Free : 0816475744.</p>
          .col-md-6.col-sm-4.mail-box.detail-box
            i
              img(src='images/ftr-email.png', alt='Email')
            h4 contact support
            p
              a(href='mailto:norlandbizz@gmail.com') norlandbizz@gmail.com
        // Contact Detail /-
        .row
          .col-md-6.col-sm-6.col-xs-12
            aside.widget.widget-about
              a(href='#', title='Logo')
                h1.health
                  span
                    strong Total
                  | Cure
              p We are open for enquiries and order request
              .time-schedule
                p
                  | Monday - Friday 
                  span 8.00 - 18.00
                p
                  | Saturday 
                  span 8.00 - 18.00
                p
                  | Sunday 
                  span 8.00 - 13.00
          .col-md-6.col-sm-6.col-xs-12
            aside.widget.widget-newsletter
              h3.widget-title Newsletter
              p To get more news about Total Cure
              .input-group
                input.form-control(type='text', placeholder='Email Address')
                span.input-group-btn
                  button.btn.btn-default(type='button', action='post')
                    i.fa.fa-send-o
              // /input-group
              .social
                h6 Stay Connected
                ul
                  li
                    a(href='#', title='Facebook')
                      i.fa.fa-facebook
                  li
                    a(href='#', title='Twitter')
                      i.fa.fa-twitter
      // Container /-
      // Bottom Footer
      .container-fluid.no-padding.bottom-footer
        p
          | © 2018 
          a(href='sumptious.herokuapp.com') Encoded
          |  . All Rights Reserved.
      // Bottom Footer /-
    // Main Container
    // JQuery v1.11.3
    script(src='js/jquery.min.js')
    // Library - Modernizer
    script(src='libraries/modernizr/modernizr.js')
    // Library - Bootstrap v3.3.5
    script(src='libraries/bootstrap/bootstrap.min.js')
    // Bootstrap JS File v3.3.5
    // jQuery Easing v1.3
    script(src='js/jquery.easing.min.js')
    // Library - jQuery.appear
    script(src='libraries/appear/jquery.appear.js')
    // Library - OWL Carousel V.2.0 beta
    script(src='libraries/owl-carousel/owl.carousel.min.js')
    // jQuery For Number Counter
    script(src='libraries/number/jquery.animateNumber.min.js')
    // Library - Isotope Portfolio Filter
    script(src='libraries/isotope/isotope.pkgd.min.js')
    // Library - Magnific Popup - v1.0.0
    script(src='libraries/magnific-popup/jquery.magnific-popup.min.js')
    // Library - Google Map API
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    // Library - Theme JS
    script(src='js/functions.js')
    script(type='text/javascript', src='js/uikit.min.js')
  // Mirrored from premiumlayers.net/demo/html/maxihealth/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 01:10:11 GMT
